.header {
    display:flex;
    height: 60px;
    background-color:#C5113A;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-family: Spinnaker;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    letter-spacing: 0.065em;
    color: #FFFFFF;
}
.header a {
    background: #CACACA;
    border-radius: 38px;
    font-family: Spinnaker;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.065em;
    padding:5px 15px;
    color: #000000;
    cursor: pointer;
}
.header a:hover {
    opacity: 0.7;
}