.cadastro {
    display:flex;
    align-items: center;
    justify-content: space-around;
    height:calc(100vh - 50px);
    position:relative;
}

.cadastro img{
    height:400px;

}
.cadastro form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cadastro form h1{
    margin-bottom: 35px;
}
.cadastro form input{
    margin-bottom: 15px;
    width: 250px;
}
.cadastro form button{
    width: 250px;
    margin-top: 20px;
}
